:root{
    --main-color: #FFFFFF;
    --secondary-color:#D62828;
}
@font-face {
    font-family: 'fibre';
    src: url(/Fonts/fibre-font.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}
.d-none{
    display: none; 
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.tab-menu{
    display: none;
    color: var(--main-color);
    font-size: 1.8em;
}

h1{
    font-family: 'fibre', sans-serif;
    font-weight: 700;
    font-size: 6em;
    line-height: 1.25em;
}
html{
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-image: url(../images/Desktop\ -\ 8.png);
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.heading{
    margin-block: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)) , url(../images/pic\ 1.jpg);
    background-size: cover;
    background-position: center center;
    height: 65vh;
    border-radius: 25px;
    overflow: hidden;
}

.container{
    margin-inline: 2em;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-block: 1.2em;
    margin-inline: 1em;
    padding: 4.5em 2.5em;
}

.nav-content-links ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-content-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.875em;
    color: #FFFFFF80;
    text-transform: uppercase;
}

.active a{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 0.4em;
}

.nav-content-icons{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-content-icons i{
    font-size: 1.15em;
    color: var(--main-color);
    position: relative;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 0.6em;
    border-radius: 50%;
    cursor: pointer;
}


.nav-content-icons .fa-cart-shopping::after{
    content: var(--cart-content, '0');
    font-size: .8em;
    color: var(--main-color);
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    top: -12px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.nav-content-icons .fa-heart::after{
    content: var(--whishlist-content, '0');
    font-size: .8em;
    color: var(--main-color);
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    top: -12px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.heading-content{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 50%; */
    transform: translateY(-30%);
}

.heading-content h2{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.55em;
    word-spacing: 0.2em;
}
.heading-content span{
    color: #FFFFFF80;
    text-align: center;
    text-transform: uppercase;
}

.heading-content p{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-block: 1.5em;
    width: 70%;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
}

.heading-content button{
    background-color: var(--secondary-color);
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.875em;
    padding: .5em 2em;
    border-radius: 26px;
    border-color: transparent;
    outline: #e67e7e solid 4px;
    cursor: pointer;
}
.searched-item{
    height: 120vh;
    margin-block: 8em;
    overflow: hidden;
    margin-inline: 6.5em;
    transition: .4s margin-inline;
}
.searched-item-head{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.searched-item-head h1{
    font-size: 4em;
    line-height: 1.575em;
    transition: .4s font-size;
}
.searched-item-head h2{
    font-weight: 500;
    font-size: 1.15em;
    line-height: 1.875em;
}
.searched-item-info{
    background-color: #1D1D1D;
    width: 100%;
    display: flex;
    gap: 5em;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    overflow: hidden;
    height: 60vh;
    padding: 2em 1.5em;
    margin-top: 5em;
    transition: .4s gap;
}
.item-details{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding-top: 1em;
    width: calc((120% - 2em * 1)/2);
    height: 100%;
    transition: .4s width;
}
.item-details h3{
    font-weight: 300;
    font-size: 1.75em;
    text-transform: uppercase;
    color: var(--main-color);
    transition: .4s font-size;
    height: 15vh;
}
.item-details h4{
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.25em;
    transition: .4s font-size;
}
.item-details p{
    color: var(--main-color);
    font-size: 1.05em;
    font-weight: 300;
    word-spacing: 0.1em;
    line-height: 1.55em;
    text-transform: uppercase;
    transition: .4s font-size;
}
.item-details button{
    color: #FFFFFF80;
    background-color: transparent;
    border: 3px solid #FFFFFF80;
    border-radius: 14px;
    padding: .5em 1em;
    cursor: pointer;
    font-size: 1.1em;
    transition: .4s border-color, .4s color;
    width: 17em;
}

.item-details button:hover{
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 14px;
    cursor: pointer;
    font-size: 1.1em;
}
.item-img{
    width: calc((80% - 2em * 1)/2);
    height: 100%;
    position: relative;
    transition: .4s height;
}
.item-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: .4s height;
}
.img-icon{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
    transition: .4s display;
}

.img-icon-unfavourite{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
    transition: .4s display;
}
.img-icon-unfavourite i{
    color: var(--secondary-color);
    font-size: 1.8em;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: .4em;
    transition: .4s background-color, .4s color;
}

.img-icon-unfavourite i:hover{
    color: #d62828b0;
    outline: #e67e7e solid 2px;
}

.img-icon i{
    color: var(--main-color);
    font-size: 1.8em;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: .4em;
    transition: .4s background-color, .4s color;
}

.img-icon i:hover{
    background-color: #d62828ac;
    color: #ffffffad;
    outline: #e67e7e solid 2px;
}
@media (max-width: 1280px) {
    .searched-item-info{
        height: 50vh;
    }
    .item-details p{
        font-size: .85em;
        font-weight: 300;
        word-spacing: 0.1em;
        line-height: 1.55em;
    }
}
@media (max-width: 1204px) {
    .searched-item-info{
        height: 65vh;
    }
}
@media (max-width: 1134px) {
    .searched-item{
        margin-inline: 3.5em;
        height: 170vh;
    }
    .searched-item-info{
        gap: 3.5em;
    }
    .item-details{
        gap: 2em;
    }
}
@media (max-width:1010px){
    .item-details h3{
        font-size: 1.35em;
        line-height: 1.35em;
        transition: .4s font-size;
    }
}
@media (max-width: 973px) {
    .searched-item-info{
        gap: 2.5em;
    }
    .searched-item-head h1{
        font-size: 3.3em;
    }
}
@media (max-width: 838px) {
    .searched-item{
        margin-inline: 5.5em;
        height: 190vh;
    }
    .searched-item-info{
        flex-direction: column;
        gap: 1em;
        height: 95vh;
    }
    .item-details{
        width: 100%;
    }
    .item-img{
        width: 100%;
        height: 30vh;
    }
}

@media (max-width: 803px) {

}
@media (max-width: 768px) {
    .nav-content-links,.nav-content-icons{
        display: none;
    }
    .tab-menu{
        display: block;
    }
    .menu-links{
        display: flex;
        background-color: #1D1D1D;
        position: absolute;
        top: 5em;
        right: -800px;
        width: 50%;
        height: 82vh;
        padding: 1em;
        border-radius: 25px;
        z-index: 5;
        transition:  .8s right ease;
    }
    .menu-links ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        width: 100%;
    }
    .menu-links-view{
        right: 20px;
    }

    .menu-exit-icon{
        position: absolute;
        top: 0.9em;
        right: 0.4em;
        color: var(--main-color);
        font-size: 1.7em;
        cursor: pointer;
    }
    .container{
        margin-inline: 1.8em;
    }

}
@media (max-width: 696px) {

}
@media (max-width: 662px) {
    .searched-item-head h1{
        font-size: 2.8em;
    }
}
@media (max-width: 640px) {

}

@media (max-width: 608px) {
    .container{
        margin-inline: 1.5em;
    }
    .menu-links{
        display: flex;
        background-color: #1D1D1D;
        position: fixed;
        top: 0em;
        right: -800px;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 0px;
        z-index: 5;
        transition:  .8s right ease;
    }
    .menu-links-view{
        right: 0px;
    }
    .menu-logo{
        display: block;
        position: absolute;
        top: .5em;
    }
}
@media (max-width: 577px) {
    .searched-item-info{
        height: 100vh;
    }
}
@media (max-width: 525px) {
    .heading{
        margin-block: 20px;
    }
    .container{
        margin-inline: 1em;
    }
    .searched-item{
        height: 260vh;
    }
    .searched-item-info{
        height: 100vh;
    }

}

@media (max-width: 445px) {
    .searched-item{
        height: 260vh;
    }
    .searched-item-info{
        height: 110vh;
    }
    .item-details button{
        width: 100%;
    }
    .item-details h3{
        font-size: 1.1em;
        line-height: 1.4em;
    }
    .item-details p{
        text-wrap: balance;
    }
}
@media (max-width: 330px) {
    .searched-item-info{
        height: 110vh;
    }
}

