:root{
    --main-color: #FFFFFF;
    --secondary-color:#D62828;
}
@font-face {
    font-family: 'fibre';
    src: url(/Fonts/fibre-font.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}
.d-none{
    display: none; 
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.tab-menu{
    display: none;
    color: var(--main-color);
    font-size: 1.8em;
}

h1{
    font-family: 'fibre', sans-serif;
    font-weight: 700;
    font-size: 6em;
    line-height: 1.25em;
}

html{
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-image: url(../images/Desktop\ -\ 8.png);
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.heading{
    margin-block: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)) , url(../images/pic\ 1.jpg);
    background-size: cover;
    background-position: center center;
    height: 65vh;
    border-radius: 25px;
    overflow: hidden;
}

.container{
    margin-inline: 2em;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-block: 1.2em;
    margin-inline: 1em;
    padding: 4.5em 2.5em;
}

.nav-content-links ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-content-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.875em;
    color: #FFFFFF80;
    text-transform: uppercase;
}

.active a{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 0.4em;
}

.nav-content-icons{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-content-icons i{
    font-size: 1.15em;
    color: var(--main-color);
    position: relative;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 0.6em;
    border-radius: 50%;
}

.nav-content-icons .fa-cart-shopping::after{
    content: var(--cart-content, '0');
    font-size: .8em;
    color: var(--main-color);
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    top: -12px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.nav-content-icons .fa-heart::after{
    content: var(--whishlist-content, '0');
    font-size: .8em;
    color: var(--main-color);
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    top: -12px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.heading-content{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 50%; */
    transform: translateY(-30%);
}

.heading-content h2{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.55em;
    word-spacing: 0.2em;
}
.heading-content span{
    color: #FFFFFF80;
    text-align: center;
    text-transform: uppercase;
}

.heading-content p{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-block: 1.5em;
    width: 70%;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
}

.heading-content button{
    background-color: var(--secondary-color);
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.875em;
    padding: .5em 2em;
    border-radius: 26px;
    border-color: transparent;
    outline: #e67e7e solid 4px;
    cursor: pointer;
}
.Shop-by-category{
    height: 290vh;
    margin-block: 8em;
    overflow: hidden;
    margin-inline: 6.5em;
}
.Shop-by-category-head{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.Shop-by-category-head h1{
    font-size: 4em;
    line-height: 1.875em;
}
.Shop-by-category-head h2{
    font-weight: 500;
    font-size: 1.15em;
    line-height: 1.875em;
}
.Shop-by-categories{
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 5.5em;
    align-items: center;
    padding-inline: 5em;
    transition: .4s height;
}
.category{
    width: calc((100% - 5.5em * 3) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    transition: .4s width;
    cursor: pointer;
    position: relative;
}
.category-img{
    width: 220px;
    height: 220px;
    overflow: hidden;
    border: 6px solid var(--main-color);
    border-radius: 50%;
    padding: .5em;
    transition: .6s border-color;
}
.category-img i{
    color: var(--main-color);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: .6s display;
}
.category-img.active {
    border: 6px solid var(--secondary-color);
}
.category-img.active i{
    display: flex;
}
.category-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.category h2{
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.55em;
}
.Shop-by-category-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    align-items: center;
    transition: .4s width;
}
.product{
    background-color: #1D1D1D;
    padding: 1em;
    border-radius: 12px;
    width: calc((100% - 2.5em * 2) / 3);
    height: 100%;
    position: relative;
}

.new:after{
    content: "New";
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--main-color);
    top: -.5em;
    right: 2em;
    padding: .55em 1.4em;
    font-size: 1.1em;
    z-index: 1;
}
.product-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* transform: matrix(1.7, 0, 0, 1.7, 0, 55.5); */
}

.img-icon{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
    transition: .4s display;
}

.img-icon-unfavourite{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
    transition: .4s display;
}
.img-icon-unfavourite i{
    color: var(--secondary-color);
    font-size: 1.8em;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: .4em;
    transition: .4s background-color, .4s color;
}

.img-icon-unfavourite i:hover{
    color: #d62828b0;
    outline: #e67e7e solid 2px;
}

.img-icon i{
    color: var(--main-color);
    font-size: 1.8em;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: .4em;
    transition: .4s background-color, .4s color;
}

.img-icon i:hover{
    background-color: #d62828ac;
    color: #ffffffad;
    outline: #e67e7e solid 2px;
}

.product-cost-rate{
    display: flex;
    justify-content: space-between;
    margin-block: 1.5em;
    position: relative;
}
.product-cost-rate h2{
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 600;
    transition: .4s font-size;
}
.product-cost-rate i{
    color: #FFD700;
    font-size: 1.4em;
    transition: .4s font-size;
}
.product-cost-rate i span{
    font-size: 1em;
    color: var(--main-color);
    padding-left: .4em;
    margin-bottom: 8em;
    font-weight: 400;
    opacity: 89%;
    vertical-align: .01em;
    transition: .4s font-size;
}

.product-cost-rate::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF1A;
    top: 2.5em;
    left: 0;
    z-index: 1;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 100%;
    margin-block: 2.5em;
}
.product-info h2{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: .1em;
    height: 5vh;
    cursor: pointer;
}
.product-info-icons{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.product-info-icons i{
    color: var(--secondary-color);
    font-size: 1.3em;
}
.product-info-icons i span{
    color: var(--main-color);
    font-size: .75em;
    padding-left: 0.8em;
    font-weight: 400;
    transition: .4s font-size;
}
.product-info button{
    color: #FFFFFF80;
    background-color: transparent;
    border: 3px solid #FFFFFF80;
    border-radius: 14px;
    padding: 1em 1em;
    cursor: pointer;
    font-size: 1.1em;
    transition: .4s border-color, .4s color , .4s font-size;
}

.product-info button:hover{
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 14px;
    padding: 1em 1em;
    cursor: pointer;
    font-size: 1.1em;
}
.slider-arrows{
    position: relative;
    top: 0px;
    display: none;
    gap: 1em;
    justify-content: end;
    align-items: center;
    height: 75px;
    margin-inline: 6.5em;
    margin-top: 4em;
    margin-bottom: 9em;
    transition: .4s display;
}

.slider-arrows i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45em;
    height: 55px;
    width: 55px;
    border-radius: 50px;
    border: 2px solid #FFFFFF99;
    color: #FFFFFF99;
    transition: 0.4s background-color, 0.4s color , 0.4s border-color;
}

.slider-arrows i:hover{
    border-color: transparent;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.slider-arrows::before{
    content: "";
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #FFFFFF33;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-radius: 25px;
    z-index: 1;
    transition: .4s;
}   
.slider-arrows::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--secondary-color);
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-radius: 25px;
    z-index: 1;
    transition: .4s;
} 

@media (max-width: 1280px) {
    .Shop-by-category{
        height: 450vh;
        margin-inline: 4em;
    }
    .product{
        width: calc((100% - 2.5em * 1) / 2);
    }
    .slider-arrows{
        display: flex;
        transition: .4s display;
    }
    .category{
        width: calc((100% - 5.5em * 2) / 3);
    }
    .Shop-by-categories{
        margin-top: 5em;
        height: 40vh;
    }
}
@media (max-width: 1024px) {
    .Shop-by-category-products{
        gap: 1.5em;
    }
    .product{
        width: calc((100% - 1.5em * 1) / 2);
    }
    .slider-arrows::after{
        width: 25%;
    }
    .slider-arrows::before{
        width: 60%;
    }
    .category{
        width: calc((100% - 5.5em * 1) / 2);
    }
}
@media (max-width: 933px) {
    .Shop-by-category{
        margin-inline: 2.2em;
    }
    
}
@media (max-width: 858px) {

}

@media (max-width: 803px) {

}
@media (max-width: 768px) {
    .nav-content-links,.nav-content-icons{
        display: none;
    }
    .tab-menu{
        display: block;
    }
    .menu-links{
        display: flex;
        background-color: #1D1D1D;
        position: absolute;
        top: 5em;
        right: -800px;
        width: 50%;
        height: 82vh;
        padding: 1em;
        border-radius: 25px;
        z-index: 5;
        transition:  .8s right ease;
    }
    .menu-links ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        width: 100%;
    }
    .menu-links-view{
        right: 20px;
    }

    .menu-exit-icon{
        position: absolute;
        top: 0.9em;
        right: 0.4em;
        color: var(--main-color);
        font-size: 1.7em;
        cursor: pointer;
    }
    .container{
        margin-inline: 1.8em;
    }
}
@media (max-width: 696px) {
    .Shop-by-category{
        height: 750vh;
    }
    .product{
        width: 100%;
    }

}
@media (max-width: 662px) {
    .slider-arrows{
        margin-inline: 3em;
    }
}
@media (max-width: 640px) {
    .category{
        width: calc((120% - 5.5em * 1) / 2);
    }
}

@media (max-width: 608px) {
    .category{
        width: 100%;
    }
    .container{
        margin-inline: 1.2em;
    }
    .menu-links{
        display: flex;
        background-color: #1D1D1D;
        position: fixed;
        top: 0em;
        right: -800px;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 0px;
        z-index: 5;
        transition:  .8s right ease;
    }
    .menu-links-view{
        right: 0px;
    }
    .menu-logo{
        display: block;
        position: absolute;
        top: .5em;
    }
    .slider-arrows{
        justify-content: center;
        height: 25vh;
        transition: .4s justify-content;

    }
    .slider-arrows::after{
        width: 25%;
        position: absolute;
        bottom: 100%;
        left: 0%;
        right: 0%;
        top: 100%;
    }
    .slider-arrows::before{
        width: 100%;
        position: absolute;
        bottom: 100%;
        left: 0%;
        right: 0%;
        top: 100%;
    }
}
@media (max-width: 543px) {

}
@media (max-width: 525px) {
    .heading{
        margin-block: 20px;
    }
    .container{
        margin-inline: 1em;
    }

}

@media (max-width: 450px) {
    .Shop-by-categories{
        padding: 0;
        position: relative;
        right: 50px;
        left: 50px;
    }
    .category{
        width: 100%;
    }
    .Shop-by-category{
        height: 790vh;
    }
    .product-cost-rate h2{
        font-size: 1.3em;
    }
    .product-cost-rate i {
        font-size: 1.25em;
    }
    .product-cost-rate i span{
        font-size: .85em;
    }
}
@media (max-width: 378px) {
    .Shop-by-category{
        height: 790vh;
    }
    .product-info h2{
        font-size: .95em;
    }
    .product-info-icons i span{
        font-size: .68em;
        vertical-align: .2em;
    }
    .product-info button{
        font-size: .9em;
        border: 2px solid #FFFFFF80;
    }
}
@media (max-width: 320px) {
    .Shop-by-category{
        height: 790vh;
    }
    .Shop-by-categories{
        padding: 0;
        position: relative;
        left: 0px;
    }
    .category{
        width: 100%;
    }
}

